<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link href="/stylesheets/display.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="maincontainer">
      <div class="shadow p-3 mb-5 bg-white rounded box">
        <div>
        <div class="titlediv">
            <img src="/images/movies.png" class="imagesize"/>   
            <div class="heading">Movie Register</div>
            </div>

            <div style="display: flex;flex-direction: column;width:150px;background:grey;">
            <div class="divider"></div>
            <div style="color:#fff; align-self: center; font-size: 12px;font-weight:bold;letter-spacing: 1px;">MOVIES LIST</div>
            </div>

           </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Movie Name</th>
              <th scope="col">Cinema</th>
              <th scope="col">Description</th>
              <th scope="col">Time</th>
              <th scope="col">Release Date</th>
              <th scope="col">Casts</th>
              <th scope="col">Music</th>
              <th scope="col">Poster</th>
              <th scope="col">Update</th>
            </tr>
          </thead>
          <tbody>
            <% data.map((item,i)=>{ %>
            <tr>
              <td><%=item.movieid %></td>
              <td><%=item.moviename %></td>
              <td>
                <%=item.cinemaname %>,<%=item.screenname %><br />
                <%=item.statename %>,<%=item.cityname %>
              </td>
              <td><%=item.description %></td>
              <td><%=item.movietime %></td>
              <td><%=item.releasedate %></td>
              <td>
                <%=item.director %><br /><%=item.actor %>,<%=item.acterss %>
              </td>
              <td><%=item.musicdirector %><br /><%=item.lyrics %></td>
              <td><a href="/movie/edit_image?movieid=<%=item.movieid%>&moviename=<%=item.moviename %>&poster=<%=item.poster %>"><img src="/images/<%=item.poster %>" class="posterstyle"></a></td>
              <td><a href="/movie/display_by_id?movieid=<%=item.movieid%>">Edit</a></td>

              <%})%>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
